.container {
    width: 1200px;
    margin: 0 auto;
    outline: 0 1px red;
}

@media (min-width:320px) and (max-width:480px) {
.container{
    width: 320px;
}

footer{
display: block;
}

.header__list {
 display: none!important;
}

.our__work{
    display: none!important;
}

.main__wrapper{
    flex-direction: column;
}

.header__list__nav {
    display: none!important;
   }

.main__list__work {
    display: flex;
    flex-wrap: wrap;
}

.main__list__2{
display: flex;
flex-wrap: wrap;
gap: 1px!important;
}

.main__list {
    gap: 3px;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}

.right__icon{
    margin-right: 3px!important;
}

.hero__title {
    font-size: 28px!important;
}

.main__button__work {
    margin: 0px !important;
    }

.main__wrapper__work {
    // display: flex;
}

.main__pa__work {
width: 400px;
}

.main__p__2 {
    margin-right: 0px !important;
}

.main__item__2 {
    gap: 10px !important;
}

.main__list {}

.main__img__2 {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
}

.video{
    width: 670px!important;
    left: 15px!important;
}

.video__button{
    position: relative;
left: 135!important;
margin-right: 0px!important;
}

.input__button{
    position: relative;
    left: 438px!important;
}
}

@media (min-width:768px) and (max-width:1199px) {
    .container {
        width: 768px;
    }

    .header__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

    }



    .header__list {
        justify-content: center;
    }

    .main__list__work {
        display: flex;
        flex-wrap: wrap;
    }

.main__list__2{
    display: flex;
    flex-wrap: wrap;
    gap: 1px!important;
}

    .main__list {
        gap: 3px;
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
    }

    .right__icon{
        margin-right: 3px!important;
    }

    .hero__title {
        font-size: 28px!important;
    }

    .main__button__work {
        margin: 0px !important;
        }

    .main__wrapper__work {
        // display: flex;
    }

    .main__pa__work {
width: 400px;
    }

    .main__p__2 {
        margin-right: 0px !important;
    }

    .main__item__2 {
        gap: 10px !important;
    }

    .main__list {}

    .main__img__2 {
        width: 300px;
        height: 300px;
        display: flex;
        align-items: center;
    }

    .video{
        width: 670px!important;
        left: 15px!important;
    }

    .video__button{
        position: relative;
left: 135!important;
margin-right: 0px!important;
    }

    .input__button{
        position: relative;
        left: 438px!important;
    }
}